<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<header>
    <div>用户名</div>
    <div class="loginOut" id="loginOut">退出</div>
</header>
<div class="contBox">
    <div class="col left">
        <div class="global marginB" id="video">
            <p>短视频数字人</p>
            <p>工作台</p>
        </div>
        <div class="global" id="word">
            <p>文案助手</p>
            <p>工作台</p>
        </div>
    </div>
    <div class="col middle">
        <div class="global bigGlobal" id="kuaishou">
            <p>快手矩阵</p>
            <p>工作台</p>
        </div>
    </div>
    <div class="col right">
        <div class="global">
            <p>超趣灵感</p>
            <p>工作台</p>
        </div>
    </div>
</div>
<script src="./js/jquery-3.7.1.min.js"></script>
<script src="./js/index.js"></script>
</body>
</html>