body {
    background: #9cc4e8;
    /* text-align: center; */
}

.cont {
    margin: 0 auto;
    /* margin-top: 200px; */
    width: 1200px;
    height: 100vh;
    display: flex;
    align-items: center;
    /* background: #fff; */
}
.cont .left {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont .left .ai {
    font-size: 126px;
    color: #fa08fe;
}
.cont .left .text {
    font-size: 36px;
    color: #fff;
}
.cont .left .text p {
    letter-spacing: 3px
}

.cont .right {
    position:relative;
    width: 400px;
    height: 320px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left;
}
.input {
    margin-top: 20px;
    width: 100%;
}
input{
    border:0;
    outline:0;
    background-color:#f0f0f0;
    padding: 5px;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
.regist {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.regist p {
    color: #999;
    font-size: 18px;
    margin-right: 30px;
}
.regist p:hover {
    cursor: pointer;
}
.btn {
    height: 40px;
    width: 350px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    background: #94aaf3;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
}
.btn:hover {
    cursor: pointer;
}
.bottomPosition {
    position: absolute;
    bottom: 5px;
    left:50%;
    transform: translateX(-50%);
}
